.FamilyMember {
  display: inline-block;
  position: relative;
}

.Image {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 80ms;
}

.Image:hover {
  transform: scale(1.2);
}

.TopRelationLine,
.RightRelationLine,
.LeftRelationLine {
  background-color: gray;
  position: absolute;
  --relation-line-length: 30px;
}

.TopRelationLine {
  width: 1px;
  height: var(--relation-line-length);
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}

.RightRelationLine {
  width: var(--relation-line-length);
  height: 1px;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
}

.LeftRelationLine {
  width: var(--relation-line-length);
  height: 1px;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.GenderBadge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  right: -4px;
  top: -4px;
}

.Male.GenderBadge {
  background-color: #2986cc;
}

.Female.GenderBadge {
  background-color: #c90076;
}
