.FamilyMember {
  display: inline-block;
  position: relative;
  --relation-line-length: 40px;
  --member-size: 50px;
}

.Image {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 80ms;
}

.Image:hover {
  transform: scale(1.2);
}

.Image.Selected {
  margin: -4px;
  box-sizing: content-box;
  border: 4px solid var(--primary);
}

.TopRelationLine,
.RightRelationLine,
.LeftRelationLine,
.TopLeftRelationLine,
.BottomLeftRelationLine {
  background-color: gray;
  position: absolute;
}

.TopRelationLine {
  width: 1px;
  height: var(--relation-line-length);
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}

.RightRelationLine {
  width: var(--relation-line-length);
  height: 1px;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
}

.LeftRelationLine {
  width: var(--relation-line-length);
  height: 1px;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.TopLeftRelationLine {
  width: calc(var(--relation-line-length) + var(--member-size));
  height: 1px;
  left: 50%;
  top: calc(-1 * var(--relation-line-length));
  transform: translate(-100%, -50%);
}

.BottomLeftRelationLine {
  width: 1px;
  height: 45px;
  left: calc(-0.5 * var(--relation-line-length));
  top: 50%;
  transform: translate(-50%, 0);
}

.ChildrenCount {
  position: absolute;
  left: calc(-0.5 * var(--relation-line-length));
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 120ms, color 120ms;
}

.ChildrenCount:hover,
.ChildrenCount.Selected {
  background-color: var(--primary);
  color: white;
}

.GenderBadge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  right: -4px;
  top: -4px;
}

.Male.GenderBadge {
  background-color: #2986cc;
}

.Female.GenderBadge {
  background-color: #c90076;
}
