.Form {
  width: 100%;
}

.InputContainer {
  position: relative;
  margin-bottom: 1.5rem;
}

.SearchIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  pointer-events: none;
}

.SearchInput {
  display: block;
  width: 100%;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1.125rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  background-color: var(--background);
  color: #6b7280;
}

.SearchInput:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--primary-hover);
}
