.Banner {
  position: relative;
  background-color: black;
  height: 500px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: -2rem;

  --image-width: 750px;
}

.ImageWrapper {
  width: var(--image-width);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.Image {
  object-fit: cover;
  object-position: left;
}

.BannerContent {
  position: absolute;
  left: calc((100vw - var(--image-width)) / 2);
  transform: translateX(-50%);
  padding: 48px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100vw - var(--image-width));
}

.TextContainer {
  text-align: left;
  margin-bottom: 3rem;
}

.Heading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.Description {
  color: white;
  font-size: 1.125rem;
}

@media screen and (max-width: 1200px) {
  .BannerContent {
    left: 0;
    right: 0;
    max-width: none;
    background: linear-gradient(to bottom, black, transparent);
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .ImageWrapper {
    left: 0;
    right: none;
  }
}
