.SearchOverview {
  position: relative;
}

.Title {
  margin-bottom: 14px;
}

.ResultsCount {
  color: rgb(107 114 128);
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .InputBox {
    width: 20rem;
  }

  .Header {
    display: flex;
    justify-content: space-between;
  }
}
